@charset "UTF-8";

.hide {
	display: none;
}

body {
	font-family: 'Georama', Helvetica, Arial, sans-serif;
	padding: 20px;
  background-color: #fffcf8;
}

a {
	text-decoration: none;
}

/* Navigation Set up */


.navMenu button {
	background: url(../assets/burgerIcon.svg) left no-repeat;
	height: 20px;
	width: 20px;
	border: 1px;
	transition: all .3s ease;
	margin-right: auto;
	margin-bottom: 10px;
}

.navMenu button.expanded {
	transform: rotate(90deg);
}

.navMenu {
	align-self: center;
}

.navMenu li a {
	display: block;
	color: #1c1f75;
	padding: 10px 0 10px 0;
	text-align: left;
}
.navMenu li a:hover {
	border-bottom: 3px solid #ce9500;
	padding-bottom: 5px;
	background-color: transparent;
	font-weight: 700;
}


.navMenu li:first-child {
	border-top: 1px solid #ce9500;
}

.burgerMenu {
  margin-bottom: 10px;
	display: none;
	text-align: right;
}

.burgerMenu.slideToggle {
	display: block;
}

.header {
	display: flex;
}

.logo {
	flex-direction: column;
	justify-content: center;
	max-width: 180px;
}




@media screen and (min-width: 60em) {

  #button {
    display: none;
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
  }

  .navMenu {
    text-align: left;
    margin-left: auto;
    margin-right: 5%;
  }
  .navMenu li {
    border-bottom: none;
    display: inline;
    margin-left: 20px;
  }
  .navMenu li a {
    background-color: #fff;
    display: inline;
    padding: 5px 0 5px 0;
    text-decoration: none;
    color: #1c1f75;
  }
  .navMenu li a:hover {
    border-bottom: 3px solid #ce9500;
    padding-bottom: 5px;
    background-color: transparent;
    font-weight: 700;
  }
  .navMenu li:first-child {
    border-top: none;
  }

	.header {
		display: flex;
		margin-top: 20px;
		margin-bottom: 20px
	}
	.logo {
		flex: auto;
		max-width: 180px;
		margin-left: 5%;
	}
}


/* Main Banner */
.banner img {
  max-width: 100%;
  margin-bottom: 15px;
}
.textMB, .textBottle {
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  color: #ce9500;
  margin-bottom: 20px;
}

.bottomLine {
  border-bottom: 4px solid #ce9500;
  max-width: 100%;
  margin-bottom: 20px;
}

.bottle img {
  max-width: 100%;
  margin-bottom: 15px;
}

.textBottle a {
  color: #1c1f75;
}

@media screen and (min-width: 50em) {
  .textMB, .textBottle {
    font-size: 50px;
  }
}
